.member-picker-view{
  box-shadow:0 7px 21px rgba(0,0,0,.1);
  border:1px solid transparent;
}

tb-menu-list{
  width: 100%;
  overflow-y: auto;
  display: block;
  height: 243px;
  padding:0px 15px 10px;
  box-sizing: border-box;
}

tb-menu-list .option{
  display: block;
  padding: 5px 35px 5px 15px;
  clear: both;
  line-height: 24px;
  color: gray;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:14px;
}

tb-menu-list .option:hover{
  background-color:#f7f7f7;
}

.member-picker-input{
  position: relative;
  padding: 15px 15px 10px;
}

.member-picker-input input{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 6px;
  line-height: 20px;
  box-sizing: border-box;
  border:1px solid #d9d9d9;
  border-radius: 3px;
  outline: none;
}

ul,ol{
  padding: 0px;
  margin: 0px;
}

.is-active {
  background-color:#f7f7f7;
  font-weight:700;
}

.another-active {
  background-color:#000;
}

li.selected{
  color:#008fff !important;
}

button[disabled]{
  background: grey;
}